* {
  box-sizing: border-box;
  color: #1e1e1e;
  font-family: 'Rubik', sans-serif;
  font-size: 62.5%;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.about {
  color: red;
  padding: 140px 40px;
}
.about__content {
  margin: 0 0 0 170px;
  padding: 0 0 0 230px;
  position: relative;
}
.about__content p {
  font-size: 2.4rem;
  line-height: 36px;
}
.about__line {
  background-color: #006BB2;
  display: inline-block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 200px;
}
.arrow {
  background-color: #006BB2;
  display: inline-block;
  height: 1px;
  margin: 0 20px 0 10px;
  position: relative;
  top: -5px;
  transition: all .3s;
  width: 30px;
}
.arrow::after {
  margin-left: 12px;
  top: -4px;
  transform: rotate(135deg);
}
.arrow::before {
  margin-left: 12px;
  top: 0;
  transform: rotate(45deg);
}
.arrow::after, .arrow::before {
  background-color: #006BB2;
  content: '';
  height: 5px;
  position: absolute;
  width: 1px;
}
.block {
  margin: 0 auto;
  max-width: 1200px;
}
.bold {
  font-weight: 500;
}
.close-main-menu {
  background: none;
  border: none;
  cursor: pointer;
  height: 60px;
  position: absolute;
  right: 26px;
  top: 20px;
  width: 60px;
}
.close-main-menu::before, .close-main-menu::after {
  border-top: 1px solid #1e1e1e;
  content: '';
  left: 18px;
  position: absolute;
  top: 30px;
  width: 25px;
}
.close-main-menu::before {
  transform: rotate(45deg);
}
.close-main-menu::after {
  transform: rotate(-45deg);
}
.contact {
  background-image: url(img/contact-bg.jpg);
  background-position: center center;
  padding: 70px 0;
  position: relative;
}
.contact-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
  position: relative;
  width: 90%;
  z-index: 3;
}
.contact-container input {
  width: 100%;
}
.contact-container input::placeholder, .contact-container textarea::placeholder {
  color: #FFF;
  text-transform: uppercase;
}
.contact-container textarea {
  grid-column: 1 / 4;
  resize: none;
}
.contact-container input, .contact-container textarea {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #FFF;
  font-size: 14px;
  margin: 20px 0;
  transition: border-bottom .3s;
}
.contact-container input:focus, .contact-container textarea:focus {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid #006BB2;
  color: #FFF;
  outline: none;
}
.contact__cover {
  background-color: rgba(0, 0, 0, .85);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.contact-details__item {
  align-items: center;
  display: flex;
  padding: 5px 0;
}
.contact-details__item a {
  font-size: 1.6rem;
}
.contact-details__item img {
  margin-right: 10px;
}
.contact-item, .contact-item__textarea {
  position: relative;
}
.contact-item__textarea {
  grid-column: 1 / 4;
}
.contact-item__textarea textarea {
  height: auto;
  overflow: hidden;
  width: 100%;
}
.contact__title {
  color: #FFF;
  font-size: 2.2rem;
  font-weight: 500;
  grid-column: 1 / 4;
  padding: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
}
.contact-send {
  background: none;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 60px;
}
.contact-send:focus {
  outline: none;
}
.copyright {
  border-top: 1px solid #EEE;
  font-size: 1.2rem;
  grid-column: 1 / 3;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
  text-align: center;
}
.floating-label {
  color: #FFF;
  font-size: 1.4rem;
  opacity: 0;
  position: absolute;
  text-transform: uppercase;
  top: 21px;
  transition: all .3s;
}
.h1, h2 {
  overflow: hidden;
  position: relative;
}
.h1 .word {
  color: #EEE;
  font-size: 6.0rem;
}
.h2 .word {
  color: #EEE;
  font-size: 3.6rem;
}
.hide {
  overflow: hidden;
  position: relative;
}
.icon {
  height: 1.6rem;
  width: 1.6rem;
}
.intro {
  background-attachment: fixed;
  background-image: url(./img/intro-bg.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.main-logo {
  background-color: #006BB2;
  color: #FFF;
  font-family: 'Righteous', cursive;
  font-size: 3.2rem;
  left: 43px;
  padding: 27px;
  position: fixed;
  z-index: 20;
}
.main-menu {
  list-style: none;
  padding: 170px 40px 40px 200px;
}
.main-menu-item {
  cursor: pointer;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}
.main-menu-item a {
  font-size: 3.6rem;
  position: relative;
  transition: color .3s;
}
.main-menu-item a:hover {
  color: #006BB2;
}
.main-menu-item a.active::before {
  width: 100px;
}
.main-menu-item__active a {
  color: #006BB2;
}
.main-menu-item__active a::before {
  border-top: 1px solid #006BB2;
  content: '';
  left: -120px;
  position: absolute;
  top: 2.0rem;
  transition: width .5s;
  width: 0px;
}
.main-menu__block {
  background-color: #FFF;
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: right .6s cubic-bezier(0, .9, .5, 1);
  width: 600px;
  z-index: 5;
}
.main-menu__inactive {
  right: -100%;
}
.main-menu__cover {
  background-color: rgba(0, 0, 0, .8);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}
.menu-burger {
  cursor: pointer;
  height: 15px;
  position: relative;
  width: 24px;
}
.menu-burger__container {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 50px;
  position: fixed;
  right: 30px;
  top: 25px;
  width: 50px;
  z-index: 2;
}
.menu-burger__line {
  margin-top: -1px;
  top: 50%;
  width: 100%;
}
.menu-burger__line, .menu-burger::after, .menu-burger::before {
  background-color: #FFF;
  height: 1px;
  position: absolute;
  transition: all .3s;
}
.menu-burger::after, .menu-burger::before {
  content: '';
  width: 60%;
}
.menu-burger::after {
  top: 100%;
}
.menu-burger::before {
  left: 40%;
  margin-top: -3px;
  top: 0;
}
.menu-burger:hover::after, .menu-burger:hover::before {
  left: 0;
  width: 100%;
}
.placeholder-shown .floating-label {
  font-size: 1.0rem;
  opacity: 1;
  top: -2px;
}
.proud__title {
  grid-column: 1 / 3;
  margin: 0 0 50px 0;
  overflow: hidden;
  text-align: center;
}
.scroll {
  bottom: 150px;
  color: #FFF;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  position: absolute;
  right: 200px;
  text-transform: uppercase;
  transform: rotate(90deg);
  transition: bottom .5s ease-in-out;
  z-index: 4;
}
.scroll::before {
  background-color: #006BB2;
  bottom: -5px;
  content: '';
  display: inline-block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: left .5s ease-in-out;
  width: 240px;
  z-index: 3;
}
.scroll:hover::before {
  left: -20px;
}
.scroll:hover {
  color: #006BB2;
  bottom: 140px;
}
.section-intro__content {
  left: 200px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.section-intro__decoration {
  background-color: rgba(255, 255, 255, .8);
  height: 1px;
  margin: 20px 0;
  width: 100%;
}
.section-intro__overlay {
  background-color: rgba(0, 0, 0, .8);
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 1;
}
.service__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.service__image {
  width: 80px;
}
.service__description {
  font-size: 1.4rem;
}
.service__title {
  font-size: 2.0rem;
  font-weight: 500;
  margin: 10px 0 20px 0;
  text-transform: uppercase;
}
.services {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 140px auto;
  max-width: 1240px;
}
.services__title {
  display: flex;
  flex-direction: column;
  font-size: 4.0rem;
  font-weight: 500;
  text-transform: uppercase;
}
.services__title span {
  font-weight: 500;
}
.site-footer {
  color: #1e1e1e;
  display: grid;
  font-size: 1.6rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 45px 45px 20px 45px;
}
.site-footer__right {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  justify-content: flex-end;
  padding-right: 40px;
}
.site-footer__right img {
  display: inline-block;
  margin-left: 10px;
}
.site-header {
  left: 0;
  padding-left: 100px;
  padding-right: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
.site-menu {
  position: absolute;
}
.up-arrow__container {
  border-radius: 50%;
  bottom: 40px;
  cursor: pointer;
  height: 50px;
  position: fixed;
  right: 40px;
  transition: bottom .3s;
  width: 50px;
  z-index: 5;
}
.up-arrow__container:hover {
  bottom: 50px;
}
.up-arrow {
  background-color: #006BB2;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}
.up-arrow::after {
  left: 2px;
  transform: rotate(-45deg);
}
.up-arrow::before {
  left: -2px;
  transform: rotate(45deg);
}
.up-arrow::after, .up-arrow::before {
  background-color: #006BB2;
  content: '';
  height: 5px;
  position: absolute;
  width: 1px;
}
.website {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.website h4 {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 0 0 30px;
  width: 100%;
}
.website-first {
  background-color: #C3F3F4;
}
.website-second {
  background-color: #D9CDD0;
}
.website-first, .website-second {
  height: 400px;
}
.website__image img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 95%;
}
.website__title {
  font-size: 4.2rem;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
}
.websites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.websites__more {
  align-items: center;
  border-bottom: 1px #EEE solid;
  display: flex;
  grid-column: 1 / 3;
  justify-content: center;
  padding: 20px 40px;
  text-align: center;
  text-transform: uppercase;
}
.websites__more:hover span {
  margin: 0 10px 0 20px;
}
.websites__more a {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 20px;
}
.word {
  font-size: 40px;
  margin: 2px;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .main-menu {
    padding-left: 100px;
  }
  .main-menu-item a.active::before {
    left: -70px;
    width: 50px;
  }
}
@media (max-width: 700px) {
  * {
    font-size: 50%;
  }
  .about__content {
    margin: 0;
    padding: 0;
  }
  .about__line {
    display: none;
  }
  .close-main-menu {
    right: 12px;
    top: 0;
    z-index: 8;
  }
  .h1 .word {
    font-size: 4rem;
  }
  .h2 .word {
    font-size: 2.4rem;
  }
  .main-menu {
    padding-top: 20px;
  }
  .main-menu__block {
    width: 100%;
  }
  .main-logo {
    font-size: 4.6rem;
    height: 50px;
    left: 0;
    padding: 2px 27px;
    z-index: 5;
  }
  .menu-burger__container {
    background: none;
    right: 10px;
    top: 2px;
    z-index: 0;
  }
  .menu-burger__line, .menu-burger::after, .menu-burger::before {
    background-color: #1e1e1e;
  }
  .proud__title {
    grid-column: 1 / 2;
  }
  .scroll {
    bottom: 100px;
    font-size: 1.4rem;
    right: 40px;
  }
  .section-intro__content {
    left: 20px;
  }
  .service__content {
    align-items: center;
    margin-top: 40px;
  }
  .services__title {
    align-items: center;
  }
  .service__description {
    font-size: 2rem;
    text-align: center;
  }
  .service__title {
    font-size: 2.6rem;
  }
  .services {
    grid-template-columns: 1fr;
  }
  .site-header {
    background-color: #FFF;
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, .44);
    height: 50px;
    padding-left: 0;
    position: fixed;
    z-index: 5;
  }
  .site-footer {
    padding: 45px 15px 20px 15px;
  }
  .up-arrow__container {
    right: 20px;
  }
  .website {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .website h4 {
    justify-content: center;
    padding: 10px 0;
  }
  .website__image img {
    padding: 10px 0;
    width: 100%;
  }
  .website-first, .website-second {
    height: auto;
  }
  .websites {
    grid-template-columns: 1fr;
  }
  .websites__more {
    grid-column: 1 / 2;
  }
}